livekit
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
livekit-plugins-ai-coustics
mem0ai
ddgs
langchain_community
requests
python-dotenv
